<a href="https://colab.research.google.com/github/Shibata18/DataSciencePandas/blob/master/5_4_Explora%C3%A7%C3%A3o_dos_dados_com_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **5.4 - Exploração dos dados com SQL**

1.   Saber a quantidade de linhas, observações ou variáveis que foram coletadas.
2.   Quantos relatos ocorreram por estado em ordem decrescente?

1.   Remover possíveis campos vazios (sem estado).

2.   Limitar a análise aos estados dos Estados Unidos.

1.   Consulta por cidades, com o objetivo de saber quais contêm o maior número de relatos (cidades que apresentem ao menos 10 relatos).
2.   Com o dado anterior, responder a seguinte pergunta: por que será que essa é a cidade que possui mais relatos?

1.  Fazer uma query exclusiva para o estado com maior número de relatos, buscando cidades que possuam um número superior a 10 relatórios. Enfatizar a cidade, a quantidade de relatos e formato do objeto não identificado.

In [29]:
#Para baixar o pandas sql, apenas tirar a # e executar a célula
!pip install pandasql

Requirement already satisfied: pandasql in /usr/local/lib/python3.6/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.3.19)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.18.5)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.0.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.6.1->pandas->pandasql) (1.15.0)

In [30]:
#Importando a biblioteca pandasql e pandas
import pandasql
import pandas as pd

In [25]:
ovnis = pd.read_csv('OVNIS.csv')
ovnis

         Date / Time  ...    Posted
0      9/30/97 20:00  ...  10/30/06
1      9/22/97 20:00  ...    8/5/09
2            9/19/97  ...   12/1/19
3      9/18/97 20:15  ...   3/13/12
4      9/15/97 00:00  ...   7/19/10
...              ...  ...       ...
71896   8/1/17 02:45  ...    8/4/17
71897   8/1/17 02:00  ...    8/4/17
71898   8/1/17 01:00  ...    5/9/19
71899   8/1/17 00:00  ...   2/13/20
71900         8/1/17  ...   6/25/20

[71901 rows x 7 columns]

In [26]:
#Saber a quantidade de linhas, observações ou variáveis que foram coletadas.
print("Quantidade de Linhas coletadas: ",len(ovnis))

Quantidade de Linhas coletadas:  71901

In [27]:
#Quantos relatos ocorreram por estado em ordem decrescente?
estados =ovnis.State.value_counts()
estados.sort_values(ascending=False)

CA    7911
FL    4352
WA    3225
TX    2882
NY    2824
      ...
NF      21
YT      14
PE       9
NT       7
SA       4
Name: State, Length: 64, dtype: int64

In [66]:
#Remover possíveis campos vazios (sem estado).
ovnis.State.dropna()
ovnis.State.sort_values(ascending=True).unique()

array(['AB', 'AK', 'AL', 'AR', 'AZ', 'BC', 'CA', 'CO', 'CT', 'DC', 'DE',
       'FL', 'GA', 'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA',
       'MB', 'MD', 'ME', 'MI', 'MN', 'MO', 'MS', 'MT', 'NB', 'NC', 'ND',
       'NE', 'NF', 'NH', 'NJ', 'NM', 'NS', 'NT', 'NV', 'NY', 'OH', 'OK',
       'ON', 'OR', 'PA', 'PE', 'QC', 'RI', 'SA', 'SC', 'SD', 'SK', 'TN',
       'TX', 'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY', 'YT', nan],
      dtype=object)

In [31]:
#Limitar a análise aos estados dos Estados Unidos.
q = """
   SELECT * from total where State LIKE '%AK%' OR State LIKE '%AL%'
OR State LIKE '%AR%'
OR State LIKE '%AZ%'
OR State LIKE '%CA%'
OR State LIKE '%CO%'
OR State LIKE '%CT%'
OR State LIKE '%DE%'
OR State LIKE '%FL%'
OR State LIKE '%GA%'
OR State LIKE '%HI%'
OR State LIKE '%IA%'
OR State LIKE '%ID%'
OR State LIKE '%IL%'
OR State LIKE '%IN%'
OR State LIKE '%KS%'
OR State LIKE '%KY%'
OR State LIKE '%LA%'
OR State LIKE '%MA%'
OR State LIKE '%MD%'
OR State LIKE '%ME%'
OR State LIKE '%MI%'
OR State LIKE '%MN%'
OR State LIKE '%MO%'
OR State LIKE '%MS%'
OR State LIKE '%MT%' 
OR State LIKE '%NC%' 
OR State LIKE '%ND%' 
OR State LIKE '%NE%' 
OR State LIKE '%NH%' 
OR State LIKE '%NJ%' 
OR State LIKE '%NM%' 
OR State LIKE '%NV%' 
OR State LIKE '%NY%' 
OR State LIKE '%OH%' 
OR State LIKE '%OK%' 
OR State LIKE '%OR%' 
OR State LIKE '%PA%' 
OR State LIKE '%RI%' 
OR State LIKE '%SC%' 
OR State LIKE '%SD%' 
OR State LIKE '%TN%' 
OR State LIKE '%TX%' 
OR State LIKE '%UT%' 
OR State LIKE '%VA%' 
OR State LIKE '%VT%' 
OR State LIKE '%WA%' 
OR State LIKE '%WI%' 
OR State LIKE '%WV%' 
OR State LIKE '%WY%'
  """
# Executa o seu comando SQL e retorna um dataframe
just_us = pandasql.sqldf(q.lower(), locals())
just_us

         Date / Time  ...   Posted
0      9/22/97 20:00  ...   8/5/09
1            9/19/97  ...  12/1/19
2      9/18/97 20:15  ...  3/13/12
3      9/15/97 00:00  ...  7/19/10
4      9/15/97 20:00  ...  11/9/17
...              ...  ...      ...
64892   8/1/17 02:45  ...   8/4/17
64893   8/1/17 02:00  ...   8/4/17
64894   8/1/17 01:00  ...   5/9/19
64895   8/1/17 00:00  ...  2/13/20
64896         8/1/17  ...  6/25/20

[64897 rows x 7 columns]

In [35]:
just_us.to_csv('dados_usa.csv')

In [32]:
cidades_usa =just_us.City.value_counts()
cidades_usa[cidades_usa >=10]
cidades_usa.head()

Phoenix      366
Las Vegas    338
Seattle      323
Portland     318
San Diego    272
Name: City, dtype: int64

In [33]:
#Fazer uma query exclusiva para o estado com maior número de relatos, buscando cidades que possuam um número superior a 10 relatórios.
#Enfatizar a cidade, a quantidade de relatos e formato do objeto não identificado.

# Executa o seu comando SQL e retorna um dataframe
query = '''
 SELECT CITY,Count(City) as 'Numero de Ocorrencias', Shape FROM just_us  group by city,shape  having count(City)>=10 order by  count(City) desc
'''
pandasql.sqldf(query.lower(), locals())

               City  numero de ocorrencias   Shape
0           Seattle                     75   Light
1         Las Vegas                     74   Light
2           Phoenix                     72   Light
3         San Diego                     71   Light
4      Myrtle Beach                     66   Light
..              ...                    ...     ...
564  Virginia Beach                     10  Sphere
565         Visalia                     10   Light
566      Wellington                     10   Light
567      Woodbridge                     10   Light
568            York                     10  Circle

[569 rows x 3 columns]